<% provide(:title, "ユーザー一覧") %>
<h1>ユーザー一覧</h1>
<div class="">
  <%= link_to "ユーザー登録", signup_path, class: "btn btn-primary btn-user--new" %>
</div>
<div>
  <%= will_paginate @users, previous_label: '<', next_label: '>', inner_window: 1 %>
  <table class="table table-bordered table-condensed center id="table-users"">
    <thead class="thead-light">
      <tr>
        <% if current_user.admin? %>
          <th width="90"></th>
        <% end %>
        <th><%= User.human_attribute_name :name %></th>
        <th><%= User.human_attribute_name :email %></th>
        <% if current_user.admin %>
          <th width="90"></th>
        <% end %>
      </tr>
    </thead>
    <% @users.each do |user| %>
      <% unless user.admin && !current_user.admin? %>
        <tbody>
          <tr>
            <% if current_user.admin? %>
              <td><%= link_to "編集", edit_user_path(user), class: "btn btn-success" %></td>
            <% end %>
            <td>
              <% if current_user.admin? || current_user == user %>
                <%= link_to user.name, user %>
              <% else %>
                <%= user.name %>
              <% end %>
              <% if user.created_at.since(1.day) > Time.now %>
                <span class="badge badge-pill badge-info badge-new">
                  new
                </span>
              <% end %>
              <% if user.updated_at.since(2.minutes) > Time.now %>
                <span class="badge badge-pill badge-info badge-update">
                  update
                </span>
              <% end %>
            </td>
            <td><%= user.email %></td>
            <% if current_user.admin? %>
              <td>
                <% if current_user.admin? && !current_user?(user) %>
                  <%= link_to "削除", user, method: :delete, data: { confirm: "#{user.name}のデータを削除します。",
                      verify: "#{user.name}", verify_text: "削除するユーザー名を入力してください",
                      cancel: "やめる", commit: "削除する"}, title: "削除の確認", class: "btn btn-danger"%>
                <% end %>
              </td>
            <% end %>
          </tr>
        </tbody>
      <% end %>
    <% end %>
  </table>
  <%= will_paginate @users, previous_label: '<', next_label: '>', inner_window: 1 %>
</div>

<link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
