<% provide(:title, "製品種目一覧") %>
<h1>製品種目一覧</h1>
<div class="row justify-content-md-center">
  <div class="col-md-6 offset-col-3">
    <%= link_to "新規登録", new_machine_category_path, remote: true, class: "btn btn-primary btn-repair--new" %>
    <table class="table table-bordered table-condensed table-hover table-category-index center">
      <thead class="thead-light">
        <tr>
          <th width="100"></th>
          <th><%= MachineCategory.human_attribute_name :code %></th>
          <th><%= MachineCategory.human_attribute_name :product %></th>
          <% if current_user.admin? %>
            <th></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @machine_categories.each do |m| %>
          <tr>
            <td><%= link_to "編集", edit_machine_category_path(m), remote: true, class: "btn btn-sm btn-success" %></td>
            <td><%= format('%04d', m.code) %></td>
            <td>
              <%= m.product %>
              <% if m.created_at.since(1.day) > Time.now %>
                <span class="badge badge-pill badge-info badge-new">
                  new
                </span>
              <% end %>
              <% if m.updated_at.since(3.second) > Time.now %>
                <span class="badge badge-pill badge-info badge-update">
                  update
                </span>
              <% end %>
            </td>
            <% if current_user.admin? %>
              <td>
                <%= link_to "削除", m, method: :delete, data: { confirm: "「#{m.product}」を削除します。",
                    cancel: "やめる", commit: "削除する"}, title: "削除の確認", class: "btn btn-sm btn-danger" %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<!-- モーダル -->
<div id="new" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="edit" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
