<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <h1>修理詳細</h1>
      <h6><%= link_to "リンク", show_sub_repair_path %></h6>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <table class="table table-bordered table-condensed table-repair-show">
        <tbody>
          <tr>
            <th width="100"><%= Repair.human_attribute_name :reception_day %></th>
            <td width="35%">
              <%= @repair.reception_day.strftime("%Y/%-m/%d/") %>
              <%= "(#{$days_of_the_week[@repair.reception_day.wday]})" %>
            </td>
            <th width="100"><%= Repair.human_attribute_name :reception_number %></th>
            <td><%= blank_text(format_reception_number(@repair.reception_number)) %></td>
          </tr>
          <tr>
            <th><%= Repair.human_attribute_name :customer_name %></th>
            <td colspan="4"><%= @repair.customer_name %></td>
          </tr>
          <tr>
            <th><%= Repair.human_attribute_name :address %></th>
            <td colspan="5"><%= blank_text(@repair.address) %></td>
          </tr>
          <tr>
            <th><%= Repair.human_attribute_name :phone_number %></th>
            <td><%= blank_text(@repair.phone_number) %></td>
            <th width="100"><%= Repair.human_attribute_name :mobile_phone_number %></th>
            <td colspan="3"><%= blank_text(@repair.mobile_phone_number) %></td>
          </tr>
        </tbody>
        <table class="table table-bordered table-condensed table-repair-show">
          <tbody>
            <tr>
              <th width="100"><%= Repair.human_attribute_name :machine_model %></th>
              <td colspan="5"><%= blank_text(@repair.machine_model) %></td>
              <td colspan="4"><%= @repair.category %></td>
            </tr>
            <tr>
              <th><%= Repair.human_attribute_name :condition %></th>
              <td colspan="9"><%= simple_format(@repair.condition) %></td>
            </tr>
            <tr>
              <th><%= Repair.human_attribute_name :note %></th>
              <td colspan="9"><%= simple_format(@repair.note) %></td>
            </tr>
            <tr>
              <th><%= Repair.human_attribute_name :progress %></th>
              <td width="30"><%= progress_text(@repair.progress) %></td>
              <th width="60"><%= Repair.human_attribute_name :contacted %></th>
              <td width="30"><%= progress_text(@repair.contacted) %></td>
              <th width="60"><%= Repair.human_attribute_name :delivery %></th>
              <td width="30"><%= progress_text(@repair.delivery) %></td>
              <th width="80"><%= Repair.human_attribute_name :completed %></th>
              <td>
                <% if @repair.completed.present? %>
                  <%= @repair.completed.try(:strftime, "%Y/%-m/%d") %>
                  <%= "(#{$days_of_the_week[@repair.completed.wday]})" %>
                <% else %>
                  ―
                <% end %>
              </td>
              <th width="80"><%= Repair.human_attribute_name :repair_staff %></th>
              <td>
                <% if @repair.repair_staff.present? %>
                  <%= @repair.repair_staff %>
                <% else %>
                  ―
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>
      </table>
      <div class="form-inline">
        <div class="form-group">
          <input class="form-control" id="copyTarget" type="text" value=<%= "#{@repair.customer_name.gsub(" ", "")}&nbsp;#{@url}".html_safe %> readonly>
        </div>
        <div class="form-group">
          <button class="btn btn-outline-secondary" onclick="copyToClipboard()">連絡用コピー</button>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="center">
      <button type="button" class="btn btn-lg btn-secondary" data-dismiss="modal">戻る</button>
      </div>
    </div>
  </div>
</div>

<!-- URLコピー -->
<script>
    function copyToClipboard() {
        // コピー対象をJavaScript上で変数として定義する
        var copyTarget = document.getElementById("copyTarget");

        // コピー対象のテキストを選択する
        copyTarget.select();

        // 選択しているテキストをクリップボードにコピーする
        document.execCommand("Copy");

        // コピーをお知らせする
        alert("コピーしました。 : " + copyTarget.value);
    };
</script>
