<% provide(:title, "まとめて削除") %>
<%= form_with(model: @repair, url: update_delete_check_repairs_path, local: true, method: :patch) do |f| %>
  <div>
    <h1>削除するデータを選択してください。</h1>
    <h4 class="center">選択したら決定ボタンを押して次画面へ進んでください。</h4>
    <div class="delete_check_form">
      <%= f.submit text_space("決定"), class: "btn btn-warning" %>
    </div>
    <table class="table table-bordered table-condensed table-hover">
      <thead class="thead-light center">
        <tr>
          <th><%= Repair.human_attribute_name :reception_day %></th>
          <th><%= Repair.human_attribute_name :reception_number %></th>
          <th><%= Repair.human_attribute_name :customer_name %></th>
          <th><%= Repair.human_attribute_name :machine_model %></th>
          <th><%= Repair.human_attribute_name :progress %></th>
          <th><%= Repair.human_attribute_name :contacted %></th>
          <th><%= Repair.human_attribute_name :delivery %></th>
          <th><%= Repair.human_attribute_name :reminder %></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody class="center">
        <% @repairs.each do |r| %>
          <%= f.fields_for "repairs[]", r do |repair| %>
            <% if r.reminder == 2 %>
              <tr bgcolor="<%= "#FFCCCC" %>">
            <% elsif r.delivery == 2 %>
              <tr bgcolor="<%= "#e2e4eb" %>">
            <% elsif r.progress == 2 && r.delivery == 1 %>
              <tr bgcolor="<%= "#F4F4F4" %>">
            <% else %>
              <tr>
            <% end %>
            <td><%= r.reception_day.strftime("%Y/%-m/%-d") %></td>
            <td><%= blank_text(format_reception_number(r.reception_number)) %></td>
            <td><%= r.customer_name %></td>
            <td><%= r.machine_model %></td>
            <td><%= progress_text(r.progress) %></td>
            <td><%= progress_text(r.contacted) %></td>
            <td><%= progress_text(r.delivery) %></td>
            <td><%= reminder_text(r.reminder) %></td>
            <td><%= repair.check_box :delete_check, style: "transform:scale(3.0)" %></td>
            <td></td>
          </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
