<% @reception_month.each do |rm, item| %>
<%= "(rm#{rm})" %>
<%= "(id#{params[:date]})" %>
<% item.each do |i| %>
<% if i.reception_day.try(:strftime, "%Y%m") == params[:date] %>
  <table class="table table-condensed table-bordered">
    <td>

  <%= "(rm#{rm})" %>
  <%= "(id#{@params_id})" %>
  <%= i.reception_day.try(:strftime, "%Y%m") %>
  <%= i.id %>
  <%= i.reception_day %><%= tag.br %>
  <%= i.customer_name %><%= tag.br %>
  <%= i.address %><%= tag.br %>
  <%= i.machine_model %><%= tag.br %>
  <%= i.category %><%= tag.br %>
  <%= i.note %><%= tag.br %>
  <%= i.condition %><%= tag.br %>

    </td>
  </table>
<% end %>
<% end %>
<% end %>
