<% provide(:title, "一覧") %>
<h1>修理一覧</h1>
<div class="row justify-content-md-center">
  <div class="col-md-12">
    <div class="input-menu">
      <%= link_to "修理登録", new_repair_path, class: "btn btn-primary btn-repair--new" %>
      <%= form_with(scope: :search, url: repairs_path, method: :get, local: true) do |f| %>
        <div class="col-md-10 input-group">
          <%= f.text_field :customer_name, value: @search_params[:customer_name], placeholder: '得意先名', class: "form-control" %>
          &nbsp;
          <%= f.date_field :reception_day_from, value: @search_params[:reception_day_from], class: "form-control" %>
          ～
          <%= f.date_field :reception_day_to, value: @search_params[:reception_day_to], class: "form-control" %>
          <div class="input-group-append">
            <%= f.submit '検索', name: nil, class: "btn btn-primary" %>
          </div>
          <div class="export-btn">
            <%= link_to "CSV出力", repairs_path(format: :csv), class: "btn btn-primary" if current_user.admin %>
          </div>
          <div class="export-btn">
            <%= link_to "PDF出力", repairs_path(format: :pdf), :target=>["_blank"], class: "btn btn-primary" if current_user.admin %>
          </div>
        </div>
      <% end %>
      <% if params[:search].present? %>
        <%= link_to "リセット", repairs_path, class: "btn btn-outline-secondary btn-repair--new" %>
      <% end %>
    </div>

    <%= will_paginate @users, previous_label: '<', next_label: '>', inner_window: 1 %>
    <table class="table table-bordered table-condensed table-hover">
      <thead class="thead-light center">
        <tr>
          <th><%= Repair.human_attribute_name :reception_day %></th>
          <th><%= Repair.human_attribute_name :reception_number %></th>
          <th><%= Repair.human_attribute_name :customer_name %></th>
          <th><%= Repair.human_attribute_name :machine_model %></th>
          <th><%= Repair.human_attribute_name :progress %></th>
          <th><%= Repair.human_attribute_name :contacted %></th>
          <th><%= Repair.human_attribute_name :delivery %></th>
          <th><%= Repair.human_attribute_name :reminder %></th>
          <th></th>
          <% if current_user.admin? && !current_user?(@user) %>
            <th></th>
          <% end %>
        </tr>
      </thead>
      <tbody class="center">
        <% @repairs.each do |r| %>
          <% if r.reminder == 2 %>
            <tr bgcolor="<%= "#FFCCCC" %>">
          <% elsif r.delivery == 2 %>
            <tr bgcolor="<%= "#e2e4eb" %>">
          <% elsif r.progress == 2 && r.delivery == 1 %>
            <tr bgcolor="<%= "#F4F4F4" %>">
          <% else %>
            <tr>
          <% end %>
          <td>
            <%= r.reception_day.strftime("%-m/%d") %>
            (<%= $days_of_the_week[r.reception_day.wday] %>)
          </td>
          <td><%= blank_text(format_reception_number(r.reception_number)) %></td>
          <td>
            <%= link_to r.customer_name, repair_path(r), remote: true %>
            <% if r.created_at.since(1.day) > Time.now %>
              <span class="badge badge-pill badge-info badge-new">
                new
              </span>
            <% end %>
            <% if r.updated_at.since(3.second) > Time.now %>
              <span class="badge badge-pill badge-info badge-update">
                update
              </span>
            <% end %>
          </td>
          <td><%= r.machine_model %></td>
          <td>
            <% if r.progress == 1 %>
              <%= link_to progress_text(r.progress), edit_progress_repair_path(r), remote: true, class: "btn btn-sm btn-outline-secondary" %>
            <% else %>
              <%= link_to progress_text(r.progress), edit_progress_repair_path(r), remote: true, class: "repair_check" %>
            <% end %>
          </td>
          <td>
            <% if r.contacted == 1 %>
              <%= link_to progress_text(r.contacted), update_contacted_repair_path(r), method: :patch, class: "btn btn-sm btn-outline-secondary" %>
            <% else %>
              <%= link_to progress_text(r.contacted), update_contacted_repair_path(r), method: :patch, class: "repair_check" %>
            <% end %>
          </td>
          <td>
            <% if r.delivery == 1 %>
              <%= link_to progress_text(r.delivery), update_delivery_repair_path(r), method: :patch, class: "btn btn-sm btn-outline-secondary" %>
            <% elsif r.delivery == 2 %>
              <%= link_to progress_text(r.delivery), update_delivery_repair_path(r), method: :patch, class: "repair_check" %>
            <% end %>
          </td>
          <td>
            <% if r.delivery == 1 && r.reminder == 1 %>
              <%= link_to reminder_text(r.reminder), update_reminder_repair_path(r), method: :patch %>
            <% elsif r.delivery == 1 && r.reminder == 2 %>
              <%= link_to reminder_text(r.reminder), update_reminder_repair_path(r), method: :patch, class: "reminder_check" %>
            <% elsif r.delivery == 2 && r.reminder == 1 %>
              <%= reminder_text(r.reminder) %>
            <% end %>
          </td>
          <td>
            <%= link_to "修正", edit_repair_path(r), class: "btn btn-sm btn-success" %>
          </td>
          <% if current_user.admin? && !current_user?(@user) %>
            <td>
              <%= link_to "削除", r, method: :delete, data: { confirm: "#{r.customer_name}のデータを削除します。",
                  cancel: "やめる", commit: "削除する"}, title: "削除の確認", class: "btn btn-sm btn-danger"%>
            </td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @users, previous_label: '<', next_label: '>', inner_window: 1 %>
  </div>
</div>

<!-- モーダル -->
<div id="show" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="edit_progress" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
