<% provide(:title, "一覧") %>
<h1>修理一覧</h1>
<div>
  <%= link_to "修理登録", new_repair_path, class: "btn btn-lg btn-primary btn-repair--new" %>
  <table class="table table-bordered table-condensed">
    <thead class="thead-light center">
      <tr>
        <th>受付日</th>
        <th>得意先名</th>
        <th>住所</th>
        <th>電話番号</th>
        <th>携帯電話番号</th>
        <th>型式</th>
        <th>製品種目</th>
        <th>症状</th>
        <th>進捗</th>
        <th>連絡</th>
        <th>催促</th>
        <th>修正</th>
        <th>削除</th>
      </tr>
    </thead>
    <tbody class="center">
      <% @repairs.each do |r| %>
      <tr>
        <td>
          <%= r.reception_day.strftime("%-m/%d") %>
          (<%= $days_of_the_week[r.reception_day.wday] %>)
        </td>
        <td>
          <%= r.customer_name %>
          <span class="badge badge-pill badge-info badge-new">
            <%= new_arrivals(r.created_at) %>
          </span>
        </td>
        <td><%= r.address %></td>
        <td><%= r.phone_number %></td>
        <td><%= r.mobile_phone_number %></td>
        <td><%= r.machine_model %></td>
        <td></td>
        <td><%= r.condition %></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
