<header class="navbar navbar-expa navbar-dark bg-dark fixed-top">
  <div class="container">
    <%= link_to "修理管理票", root_path, id: "logo" %>
    <div class="header-list">
      <ul>
        <% if logged_in? %>
          <li>
            <%= link_to "修理一覧", repairs_path, id: "header-menu" %>
          </li>
          <li class="dropdown">
            <%= link_to "PDF出力", export_repairs_path, id: "header-menu" %>
          </li>
          <% if current_user.admin? %>
            <li class="dropdown">
              <a class="dropdown-toggle" href="#" id="header-menu" role="button" data-toggle="dropdown">
                  データ管理
              </a>
              <ul class="dropdown-menu dropdown-menu-right">
                <li class="dropdown-item">
                  <%= link_to "ユーザー登録", users_path, id: "header-menu" %>
                </li>
                <li class="dropdown-item">
                  <%= link_to "製品カテゴリ登録", machine_categories_path, id: "header-menu" %>
                </li>
                <li class="dropdown-item">
                  <%= link_to "データ入出力", data_management_repairs_path, id: "header-menu" if current_user.admin? %>
                </li>
              </ul>
            </li>
          <% end %>
          <li class="dropdown">
            <a class="dropdown-toggle" href="#" id="header-menu" role="button" data-toggle="dropdown">
                <%= current_user.name %>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li class="dropdown-item">
                <%= link_to "ユーザー情報", user_path(current_user), id: "header-menu" %>
              </li>
              <li class="dropdown-item">
                <%= link_to "ログアウト", logout_path, method: :delete, id: "header-menu"%>
              </li>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</header>
