<!DOCTYPE html>
<html>
  <head>
    <!-- aktmac-app ver1.0 -->
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag('favicon.ico') %>
    <%= favicon_link_tag('apple-touch-icon.png', {:rel => 'apple-touch-icon', :sizes => '180*180', :type => 'image/png'}) %>
    <%= favicon_link_tag('android-touch-icon.png', {:rel => 'android-touch-icon', :sizes => '192*192', :type => 'image/png'}) %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>

  <body>
    <header>
      <%= render 'layouts/header' %>
      <div class="container">
        <% flash.each do |message_type, msg| %>
          <div class="alert alert-<%= message_type %>">
            <%= msg.html_safe %>
          </div>
        <% end  %>
      </div>
    </header>
    <div class="container">
      <%= yield %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
